*,*::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body{
    background-color: #c9e4ca;
}
header{
    width: 100%;
    background-color: #558288;
    height: 25rem;
    display: flex;
    align-items: center;
    border: none;
    justify-content:center ;
}
header span{
    color:#c9e4ca;
}
header li{
    margin-right: 1vw;
}
img{
    height: 20rem;
    /* margin-left: 25vw; */
    margin-right: 5vw;
    box-shadow: -0.6vw 0.6vw 1.5vw #44676c;
}
h1{
    color:#bcc993; 
    text-align: left; 
    font-size: 3rem;
}
.top{
    color:#c9e4ca; 
    text-align: left; 
    font-size: 1.3rem;
}
.icons{
    margin-top: 10%; 
    font-size: 1.3rem;
}
ul,li{
    display: inline-block;
    color:#558288;
}
.nav{
    display: flex; 
    justify-content: center; 
    background-color: #c2cf98;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.btn1,.btn2,.btn3,.btn4,.btn5,.btn6,.btn7{
    font-size: 1rem; 
    border: none;
    outline: none;
    padding: .8vw 2.3vw;
    margin: 0;
    background-color: inherit;
    color:#44676c;
}
button:hover{
    cursor: pointer;
    color: #819fa4;
    transition: 8px;
}


.btnact{
    border-bottom: 0.25vw solid #44676c;
    color: #819fa4;
}
#content{
    padding-top: 2.3vw;
}
.abtme,.edu,.skills,.achiv,.expe{
    text-align: center;
    font-size: 1rem;
}
#name{
    margin-top: 4rem;
}
#cv{
    position: flex;
    margin-top: 3rem;
    margin-bottom: 0rem;
}
.cv{
    background-color: transparent;
    padding: 0.3rem 1.2rem;
    border: 0.1rem solid #bcc993;
    border-radius: .4rem;
}
.cv:hover{
    background: rgba(188, 201, 147, 0.2);
}
.cv:active{
    background: rgba(188, 201, 147, 0.5);
}

a{
    text-decoration: none;
    color: #bcc993;
}
@media all and (max-width: 800px) {
    .abtme,.edu,.skills,.achiv,.expe{
        text-align: center;
        font-size: 1rem;
    }
    .btn1,.btn2,.btn3,.btn4,.btn5,.btn6,.btn7{
        font-size: .7rem;
        padding: .3rem .5rem;
    }
    header{
        width: 100vw;
        height: 12rem;
    }
    #name{
        margin-top: 2rem;
    }
    .top{
        font-size: .8rem;
    }
    h1{
        font-size: 1.2rem;
    }
    img{
        height: 10rem;
    }
    .icons{
        font-size: 1rem;
        margin-top: 5%;
    }
    .btnact{
        border-bottom: 0.5vw solid #44676c;
    }
    #cv{
        margin-top:1.3rem;
        position: flex;
    }
    .cv{
        font-size: .58rem;
        padding: 0.23rem .75rem;
    }
}
