*,*::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
@media only screen and (max-width: 480px) {
    .nav{
        height: 20px;
    }
 }
body{
    background-color: #c9e4ca;
}
header{
    width: 100%;
    background-color: #558288;
    height: 25rem;
    display: flex;
    align-items: center;
    border: none;
    justify-content:center ;
}
header span{
    color:#c9e4ca;
}
header li{
    margin-right: 1vw;
}
img{
    height: 20rem;
    /* margin-left: 25vw; */
    margin-right: 5vw;
    box-shadow: -0.6vw 0.6vw 1.5vw #44676c;

}
ul,li{
    display: inline-block;
    color:#558288;
}
.nav{
    display: flex; 
    justify-content: center; 
    background-color: #c2cf98;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.btn1,.btn2,.btn3,.btn4,.btn5,.btn6,.btn7{
    font-size: 1rem; 
    border: none;
    outline: none;
    padding: 1.2vw 2.3vw;
    margin: 0;
    background-color: inherit;
    color:#44676c;
}
button:hover{
    cursor: pointer;
    color: #819fa4;
    transition: 8px;
}

.btnact{
    border-bottom: 0.25vw solid #44676c;
}
#content{
    padding-top: 2.3vw;
}
.abtme,.edu,.skills,.achiv,.expe{
    text-align: center;
    font-size: 1rem;
}
