*,*::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
@media all and (max-width: 2000px) {
body{
    background-color: #c9e4ca;
}
header{
    width: 100%;
    background-color: #558288;
    height: 25rem;
    display: flex;
    align-items: center;
    border: none;
    justify-content:center ;
}
header span{
    color:#c9e4ca;
}
header li{
    margin-right: 1vw;
}
img{
    height: 20rem;
    /* margin-left: 25vw; */
    margin-right: 5vw;
    box-shadow: -0.6vw 0.6vw 1.5vw #44676c;
}
h1{
    color:#bcc993; 
    text-align: left; 
    font-size: 3rem;
}
.top{
    color:#c9e4ca; 
    text-align: left; 
    font-size: 1.3rem;
}
.icons{
    margin-top: 10%; 
    font-size: 1.3rem;
}
ul,li{
    display: inline-block;
}
.nav{
    display: flex; 
    justify-content: center; 
    background-color: #c2cf98;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.btn1,.btn2,.btn3,.btn4,.btn5,.btn6,.btn7{
    font-size: 1rem; 
    border: none;
    outline: none;
    padding: .8vw 2.3vw;
    margin: 0;
    background-color: inherit;
    color:#44676c;
}
button:hover{
    cursor: pointer;
    color: #819fa4;
    transition: 8px;
}


.btnact{
    border-bottom: 0.25vw solid #44676c;
    color: #819fa4;
}
#content{
    padding: 3rem 15rem;
    display: flex;
    width: 100%;
    justify-content: center;
}
.abtme,.edu,.skills,.achiv,.expe{
    text-align: justify;
    font-size: 1rem;
}
#name{
    margin-top: 4rem;
}
#cv{
    position: flex;
    margin-top: 3rem;
    margin-bottom: 0rem;
}
.cv{
    background-color: transparent;
    padding: 0.3rem 1.2rem;
    border: 0.1rem solid #bcc993;
    border-radius: .4rem;
    color:#bcc993;
}
.cv:hover{
    background: rgba(188, 201, 147, 0.2);
    color:#bcc993;
}
.cv:active{
    background: rgba(188, 201, 147, 0.5);
}

a{
    text-decoration: none;
}
.pfp1{
    margin-left: 2rem;
    height: 12rem;
    box-shadow: none;
    margin-right: 0px;
}
.rvmpic{
    margin-left: 2rem;
    height: 15rem;
    box-shadow: none;
    margin-right: 0px;
}
.table table, .table th, .table td {
    border: 2px solid #c9e4ca;
    border-collapse: collapse;
    padding: 1rem;
}
.table{
    display: inline-block;
}
.table th, .table td{
    background-color: #b3d6b4;
}
.date{
    background-color: #b3d6b4 ;
    color:#558288;
    font-size: larger;
    /* padding:.2rem .5rem ; */
}
.edualign, .tech-content{
    display: inline-block;
    width: 100%;
}
.sec{
    display: inline-block;
    margin-left: 10rem;
}
.four{
    display: inline-block;
    margin-left: 18.85rem;
}
.fir,.third{
    display: inline-block;
}

.tech .content li button{
    background-color: transparent;
    padding: 0.3rem 1.2rem;
    margin-top: 0.3rem;
    border: 0.1rem solid #44676c;
    border-radius: .4rem;
    color:#44676c;
}

table tr b, .p-content b{
    color:rgba(0, 0, 0, 0.715);
    background-color: transparent;
}
.project ul{
    display: list-item;
    list-style-position: outside;
    list-style-type: disc;
}
}





@media all and (max-width: 800px) {
    .abtme,.edu,.skills,.achiv,.expe{
        text-align: justify;
        font-size: .7rem;
        margin-left: 1rem;
    }
    .btn1,.btn2,.btn3,.btn4,.btn5,.btn6,.btn7{
        font-size: .8rem;
        padding: .3rem .5rem;
    }
    header{
        width: 100vw;
        height: 12rem;
    }
    #name{
        margin-top: 2rem;
    }
    .top{
        font-size: .8rem;
    }
    h1{
        font-size: 1.2rem;
    }
    img{
        height: 10rem;
    }
    .icons{
        font-size: 1rem;
        margin-top: 5%;
    }
    .btnact{
        border-bottom: 0.5vw solid #44676c;
    }
    #cv{
        margin-top:1.3rem;
        position: flex;
    }
    .cv{
        font-size: .58rem;
        padding: 0.23rem .75rem;
    }
    #content{
        padding: 1.5rem 0rem;
    }
    
    .pfp1{
        margin-right: 1rem;
        margin-left: 1rem;;
        margin-top: 2rem;
        height: 7rem;
        box-shadow: none;
    }
    .table table, .table th,.table td {
        border: 2px solid #c9e4ca;
        border-collapse: collapse;
        padding: .5rem;
    }
    .table{
        margin-right: 1rem;
    }

    .fir{
        width: 45%;
    }
    .sec{
        width:45%;
        margin-left: 1rem;
    }
    .third{
        width:45%;
    }
    .four{
        width: 45%;
        margin-left: 1rem;
    }
    .table2{
        margin:0rem;
    }
}